{# src/Stsbl/ExamPlanUnlockBundle/Resources/views/ExamPlanUnlock/unlock.html.twig #}
{% extends bundle ~ "::page.html.twig" %}

{% block page_title %}
    {{ _('Unlock groups for exam plan') }} 
    {% if bundle == 'IServCoreBundle' and app.request.attributes.get('_route') == 'manage_exam_plan_unlock' %}
        - {{ _('Administration') }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if failed is not null and failed is iterable and failed|length > 0 %}
        <div class="alert alert-warning">
            <p>{{ _("The following couldn't became unlocked for the exam plan because they haven't enough members:") }}</p>
            <ul style="list-style-type: none;">
            {% for f in failed %}
                <li>
                    {% if bundle == 'IServCoreBundle' %} 
                        {% set link = path('manage_group_edit', {'id': f.id}) %} 
                    {% else %}
                        {% set link = path('admin_group_edit', {'id': f.id}) %}
                    {% endif %}
                    
                    {{ icon('legacy-act-group') }}&nbsp;{{ f }} (<a href="{{ link }}">{{ _("Edit group to fill with members") }}</a>)
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ _('Unlock groups for exam plan') }}</h3>
        </div>
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {# insert select2 in non admin view #}
    {% if bundle == 'IServCoreBundle' %}
        {% if app.environment != 'prod' %}
            <!-- {{ _self }} => exam-plan-unlock-select2.js -->
        {% endif %}
        {% javascripts output='js/compiled/exam-plan-unlock-select2.js' filter='?uglifyjs2' '@IServCrudBundle/Resources/public/js/select2.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}